In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pprint
from googleapiclient.discovery import build
import pandas as pd

In [3]:
my_developerKey = 'AIzaSyBUCKZDkUQTQWSjpqspjDqheeqWITRvNPA'
customsearch_cx = '005602575294155670075:voquhyomtdq'

service = build("customsearch", "v1",
        developerKey=my_developerKey)

res = service.cse().list(
    q=str('cake'),
    cx=customsearch_cx,
    ).execute()

In [42]:
items = res['items']
strList = [];
for ii in range(10):
    item = items[ii]
    # dict_keys(['kind', 'title', 'htmlTitle', 'link', 'displayLink', 'snippet', 'htmlSnippet', 'cacheId', 'formattedUrl', 'htmlFormattedUrl', 'pagemap'])
    strList.append(item['title'])
    strList.append(item['snippet'])
    strList.append(item['displayLink'])
    strList.append('')

In [43]:

df = pd.DataFrame(strList)
df

                                                    0
0                                    Cake - Wikipedia
1   Cake is a form of sweet dessert that is typica...
2                                    en.wikipedia.org
3
4                             Cake (band) - Wikipedia
5   Cake (stylized CAKE) is an American alternativ...
6                                    en.wikipedia.org
7
8                        Cake (2014 film) - Wikipedia
9   Cake is a 2014 American drama film directed by...
10                                   en.wikipedia.org
11
12                                  cake - Wiktionary
13  From Middle English cake, from Old Norse kaka ...
14                                   en.wikipedia.org
15
16                       Cake (2018 film) - Wikipedia
17  Cake is a 2018 Pakistani comedy drama film whi...
18                                   en.wikipedia.org
19
20                           Madeira cake - Wikipedia
21  Madeira cake is a sponge cake in traditional E...
22                                   en.wikipedia.org
23
24                          Raindrop cake - Wikipedia
25  Raindrop cake is a dessert made of water and a...
26                                   en.wikipedia.org
27
28                              King cake - Wikipedia
29  A king cake is a type of cake associated in a ...
30                                   en.wikipedia.org
31
32                  Cake (disambiguation) - Wikipedia
33  A cake is a sweet, baked form of food. Cake ma...
34                                   en.wikipedia.org
35
36                           Wedding cake - Wikipedia
37  A wedding cake is the traditional cake served ...
38                                   en.wikipedia.org
39

In [7]:
strList[1]

[(1,
  'Cake (band) - Wikipedia',
  'Cake (stylized CAKE) is an American alternative rock band from Sacramento, \nCalifornia, consisting of singer John McCrea, trumpeter Vince DiFiore, guitarist\xa0...')]

In [37]:

s = ['The', 'sun']
s.append('yes')
s
#s = s.insert(0,'row 4')
df = pd.DataFrame(s)
df

     0
0  The
1  sun
2  yes

In [44]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/plotly/'
    'datasets/master/gapminderDataFiveYear.csv')
df

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5     Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6     Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7     Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8     Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10    Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11    Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12        Albania  1952   1282697.0    Europe   55.230  1601.056136
13        Albania  1957   1476505.0    Europe   59.280  1942.284244
14        Albania  1962   1728137.0    Europe   64.820  2312.888958
15        Albania  1967   1984060.0    Europe   66.220  2760.196931
16        Albania  1972   2263554.0    Europe   67.690  3313.422188
17        Albania  1977   2509048.0    Europe   68.930  3533.003910
18        Albania  1982   2780097.0    Europe   70.420  3630.880722
19        Albania  1987   3075321.0    Europe   72.000  3738.932735
20        Albania  1992   3326498.0    Europe   71.581  2497.437901
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
24        Algeria  1952   9279525.0    Africa   43.077  2449.008185
25        Algeria  1957  10270856.0    Africa   45.685  3013.976023
26        Algeria  1962  11000948.0    Africa   48.303  2550.816880
27        Algeria  1967  12760499.0    Africa   51.407  3246.991771
28        Algeria  1972  14760787.0    Africa   54.518  4182.663766
29        Algeria  1977  17152804.0    Africa   58.014  4910.416756
...           ...   ...         ...       ...      ...          ...
1674  Yemen, Rep.  1982   9657618.0      Asia   49.113  1977.557010
1675  Yemen, Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676  Yemen, Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677  Yemen, Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678  Yemen, Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679  Yemen, Rep.  2007  22211743.0      Asia   62.698  2280.769906
1680       Zambia  1952   2672000.0    Africa   42.038  1147.388831
1681       Zambia  1957   3016000.0    Africa   44.077  1311.956766
1682       Zambia  1962   3421000.0    Africa   46.023  1452.725766
1683       Zambia  1967   3900000.0    Africa   47.768  1777.077318
1684       Zambia  1972   4506497.0    Africa   50.107  1773.498265
1685       Zambia  1977   5216550.0    Africa   51.386  1588.688299
1686       Zambia  1982   6100407.0    Africa   51.821  1408.678565
1687       Zambia  1987   7272406.0    Africa   50.821  1213.315116
1688       Zambia  1992   8381163.0    Africa   46.100  1210.884633
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1693     Zimbabwe  1957   3646340.0    Africa   50.469   518.764268
1694     Zimbabwe  1962   4277736.0    Africa   52.358   527.272182
1695     Zimbabwe  1967   4995432.0    Africa   53.995   569.795071
1696     Zimbabwe  1972   5861135.0    Africa   55.635   799.362176
1697     Zimbabwe  1977   6642107.0    Africa   57.674   685.587682
1698     Zimbabwe  1982   7636524.0    Africa   60.363   788.855041
1699     Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[1704 rows x 6 columns]

In [ ]:
trace = go.Table(
    header=dict(values=['A Scores', 'B Scores']),
    cells=dict(values=[[100, 90, 80, 90],
                       [95, 85, 75, 95]]))

data = [trace]